<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.Signin.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Alreadyuser</servlet-name>
  	<display-name>Alreadyuser</display-name>
  	<description></description>
  	<servlet-class>com.usercheck.Alreadyuser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SourceDestination</servlet-name>
  	<display-name>SourceDestination</display-name>
  	<description></description>
  	<servlet-class>com.srcdest.SourceDestination</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgetPasswordControl</servlet-name>
  	<display-name>ForgetPasswordControl</display-name>
  	<description></description>
  	<servlet-class>com.forgetpasswordControl.ForgetPasswordControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetPassword</servlet-name>
  	<display-name>ResetPassword</display-name>
  	<description></description>
  	<servlet-class>com.resetpassword.ResetPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OtpCreate</servlet-name>
  	<display-name>OtpCreate</display-name>
  	<description></description>
  	<servlet-class>com.otpcreation.OtpCreate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActionFileUpload</servlet-name>
  	<display-name>ActionFileUpload</display-name>
  	<description></description>
  	<servlet-class>net.codejava.upload.ActionFileUpload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FileUpload</servlet-name>
  	<display-name>FileUpload</display-name>
  	<description></description>
  	<servlet-class>com.fileupload.FileUpload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FileUploadDao</servlet-name>
  	<display-name>FileUploadDao</display-name>
  	<description></description>
  	<servlet-class>net.javaguides.fileupload.dao.FileUploadDao</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FileUploadServlet</servlet-name>
  	<display-name>FileUploadServlet</display-name>
  	<description></description>
  	<servlet-class>net.javaguides.fileupload.controller.FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InterServlet</servlet-name>
  	<display-name>InterServlet</display-name>
  	<description></description>
  	<servlet-class>com.IntermediateServlet.InterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DetailDao</servlet-name>
  	<display-name>DetailDao</display-name>
  	<description></description>
  	<servlet-class>com.DetailDao.DetailDao</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.admin_registration.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Status</servlet-name>
  	<display-name>Status</display-name>
  	<description></description>
  	<servlet-class>com.status.Status</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStatus</servlet-name>
  	<display-name>UpdateStatus</display-name>
  	<description></description>
  	<servlet-class>com.updateStatus.UpdateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Alreadyuser</servlet-name>
  	<url-pattern>/process</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SourceDestination</servlet-name>
  	<url-pattern>/SourceDestination</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgetPasswordControl</servlet-name>
  	<url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetPassword</servlet-name>
  	<url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OtpCreate</servlet-name>
  	<url-pattern>/OtpCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActionFileUpload</servlet-name>
  	<url-pattern>/ActionFileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FileUpload</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FileUploadDao</servlet-name>
  	<url-pattern>/uploadservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FileUploadServlet</servlet-name>
  	<url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InterServlet</servlet-name>
  	<url-pattern>/InterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DetailDao</servlet-name>
  	<url-pattern>/DetailDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Status</servlet-name>
  	<url-pattern>/Status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStatus</servlet-name>
  	<url-pattern>/UpdateStatus</url-pattern>
  </servlet-mapping>
</web-app>
